.work__filters {
    display:flex;
    align-items:center;
    column-gap:30px;
    margin-bottom:40px;
}
.work__item{
    cursor:pointer;
    font-weight:bold;
    transition:.3s;

}
.work__item:hover{
    color:var(--first-color);
}
.work__container{
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.work__card{
    position:relative;
    overflow:hidden;
    border-radius:var(--border-radius);
    box-shadow:var(--shadow);
}
.work__mask{
    background:var(--cont-color);
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    transition:.3s;
    opacity:0;
}
.work__card:hover .work__mask{
    opacity:0.8;
}
.work__category{
    color:#fff;
    background-color:var(--first-color);
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    position:absolute;
    top:0;
    left:24px;
    font-size:small;
    display:inline-block;
    padding:3px 10px;
    transform:translateY(-40px);
    transition:.3s;
}
.work__title{
    color:var(--first-color);
    font-size:medium;
    margin:0 0 16px;
    padding:0 20px;
    position:absolute;
    top:60px;
    transform:translateY(30px);
    transition:.3s;
    opacity:0;
}
.work__button{
    color:var(--first-color);
    position:absolute;
    bottom:24px;
    left:24px;
    font-size:medium;
    display:block;
    height:40px;
    width:40px;
    cursor:pointer;
    text-align:center;
    line-height:42px;
    transition:.3s;
    opacity:0;
}
.work__card:hover .work__button{
    opacity:1;
}
.work__card:hover .work__title,
.work__card:hover .work__category{
    opacity:1;
    transform:translateY(0);
}

@media screen and (max-width:1024px) {
    .work__filters{
        justify-content:center;
    }
    .work__container{
        grid-template-columns:repeat(2,330px);
        justify-content:center;
        row-gap:30px;
    }
}
@media screen and (max-width:768px) {
    .work__container{
        grid-template-columns:310px;
    }
    .work__filters{
        row-gap:4px;
    }
}
