.header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--body-color);
}
nav{
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}
.nav-logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_toggle,
.nav_close{
    display:none;
}
.nav_list{
    display: flex;
    column-gap: 32px;
}
.nav_link{
    font-weight: var(--font-normal);
    font-size: small;
    color: var(--title-color);
    transition: .3s;
    align-items: center;
}
.nav_link:hover {
    color: var(--title-dark);
}