.footer{
    background-color:var(--cont-color);
    border-top:1px solid rgba(0,0,0,0.05);
}
.footer__container{
    padding:32px 0 96px;
}
.footer__title,
.footer__link{
    color:var(--title-color);
}
.footer__title{
    text-align:center;
    margin-bottom:32px;

}
.footer__link{
    color:var(--title-color-dark);
}
.footer__list{
    display:flex;
    justify-content:center;
    column-gap:24px;
    margin-bottom:32px;
}
.footer__social{
    display:flex;
    justify-content:center;
    column-gap:20px;
}
.footer__social-link{
    color:var(--title-color);
    font-size:25px; 
}
.footer__social-link:hover{
    color:var(--title-color-dark);
}
.footer__copy{
    display:block;
    margin-top:40px;
    color:var(--title-color);
    text-align:center;
    font-size:small;
}