.resume__container{
    grid-template-columns:repeat(2,1fr);
    column-gap:30px;
}
.timeline{
    background-color:var(--cont-color);
    padding:30px;
    border-radius:var(--border-radius);
    position:relative;
    box-shadow:var(--shadow);
}
.timeline__item{
    position:relative;
    padding-left:50px;
    padding-bottom:50px;
}
.timeline__item:last-child{
    padding-bottom:0px;
}
.timeline__item::before{
    content:'';
    width:1px;
    height:100%;
    background-color:var(--first-color);
    position:absolute;
    left:4px;
    top:0;
}
.timeline .uil{
    position:absolute;
    left:-7px;
    top:0;
    font-size:x-large;
    color:var(--first-color);
    background-color:var(--cont-color);
}
.timeline__date{
    font-size:small;
}
.timeline__title{
    font-size:large;
    margin:8px 0;
}
@media screen and (max-width:1024px) {
    .resume__container{
        grid-template-columns:450px;
        justify-content:center;
        row-gap:30px;
    }
    .timeline__item::before{
        left:2px;
    }
}
@media screen and (max-width:576px) {
    .resume__container{
        grid-template-columns:1fr;
    }
}