.contact.section{
    padding-bottom:100px;
}
.contact__container{
    grid-template-columns:4fr 8fr;
    column-gap:30px;
}
.contact__title{
    font-size:large;
    margin-bottom:8px;
}
.contact__form-group{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:20px;
}
.contact__form-div{
    position:relative;
    margin-bottom:30px;
    height:60px;
}
.contact__form-input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:var(--shadow);
    background-color:var(--cont-color);
    color:var(--text-color);
    border:none;
    outline:none;
    border-radius:30px;
    padding:10px 30px;
    z-index:1;
}
.contact__form-area{
    height:170px;
}
.contact__form-area textarea {
    resize:none;
}
@media screen and (max-width:1024px) {
    .contact__container{
        grid-template-columns:300px 360px;
        justify-content:center;
    }
    .contact__form-group{
        grid-template-columns:1fr;
    }

}
@media screen and (max-width:768px) {
    .contact__container{
        grid-template-columns:310px;
        row-gap:30px;
    }
    .contact__info{
        text-align:center;
    }

}
@media screen and (max-width:350px) {
    .contact__container{
        grid-template-columns:1fr;
    }

}