.skills__container{
    grid-template-columns:repeat(4,1fr);
    column-gap:30px;
    
}
.skills__content{
    text-align:center;
    padding:30px;
    border-radius:var(--border-radius);
    background-color:var(--cont-color);
    transition:all 0.3s ease-in-out;
    box-shadow:var(--shadow);
}
.skills__content:hover{
    transform:translateY(-10px);
}
.skills__title{
    font-size:large;
    margin-bottom:20px;
}
.skills__box{
    display:flex;
    justify-content:center;
    column-gap:40px;
}
.skills__group{
    display:grid;
    align-items:flex-start;
    row-gap:16px;
}
.skills__dataa i img{
    margin:auto;
    padding-bottom:10px;
}
@media screen and (max-width:1024px) {
    .skills__container{
        grid-template-columns:repeat(2,330px);
        justify-content:center;
        row-gap:30px;
    }
}
@media screen and (max-width:768px) {
    .skills__container{
        grid-template-columns:310px;
    }
}
@media screen and (max-width:350px) {
    .skills__container{
        grid-template-columns:1fr;
    }

}