.aside{
    position:fixed;
    top:0;
    left:0;
    backgound:var(--body-color);
    border-right:1px solid rgba(0,0,0,0.05);
    padding:40px;
    width:110px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    z-index:10;
}

.nav__list{
    display:flex;
    flex-direction:column;
    row-gap:16px;

}

.nav__link{
    font-size:24px;
    color:var(--title-color);
    font-weight:var(--font-bold); 

}
.nav__link:hover{
    color:var(--title-color-dark);
}
.copyright{
    color:hsl(245,15%,65%);
    font-size:small;
    transform:rotate(-180deg);
    writing-mode:vertical-rl;
}