.home{
    position:relative;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.intro{
    max-width:540px;
    text-align:center;
}
.home__img{
    background:url(../../assets//Me.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
    box-shadow:inset 0 0 0 9px rgb(255 255 255 /30%);
    order:1;
    justify-self:center;
    margin-bottom:24px;
    animation:profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius:60% 40% 30% 70% /60% 30% 70% 40%;
    }
    50%{
        border-radius:30% 60% 70% 40% /50% 60% 30% 60%;
    }
    100%{
        border-radius:60% 40% 30% 70% /60% 30% 70% 40%;
    }
}
.home__name{
    font-weight:var(--font-bold);
    margin-bottom:8px;
}
.home__socails{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:20px 0;

}
.home__social-link{
    color:var(--title-color);
    font-size:21px;
    transition: .3s;
}
.home__social-link:hover{
    color:var(--title-color-dark);
    transition: .3s;
}
.scroll__down{
    position:absolute;
    bottom:15px;
    left:0;
    width:100%;
}
.home__scroll-name{
    font-size:small;
}
.mouse{
    border:2px solid var(--text-color);
    display:block;
    height:26px;
    width:20px;
    margin:auto;
    margin-top:10px;
    border-radius:16px;
    position:relative;
}
@keyframes ani-mouse {
    0%{
        top:29%;
    }
    15%{
        top:50%;
    }
    50%{
        top:50%;
    }
    100%{
        top:29%;
    }
}
.wheel{
    background-color:var(--text-color);
    border-radius:100%;
    width:4px;
    height:4px;
    position:absolute;
    top:8px;
    left:50%;
    transform:translateX(-50%);
    animation:ani-mouse 2s linear infinite;
}